.question-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 0;
}

.first-row {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  align-items: center;
}

.text-input {
  outline: 0;
  padding: 3px;
  border-width: 0 0 1px;
  border-color: black;
  width: 100%;
}

.text-input:focus {
  border-color: green;
  outline: 1px dotted #000;
  width: 100%;
}

.choose-question {
  padding: 10px 0 10px 0;
}

.choose-answer {
  padding: 10px 0 10px 0;
}