.main-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-content: center;
}

.title {
  padding: 0 0 20px 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.first-row {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  padding: 10px 0 10px 0;
}

.second-row {
  display: flex;
  flex-direction: column;
}



.btn-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 40px 0;
}

.subtitle-name {
  width: 580px;
  padding: 0 0 0 55px;
}

.subtitle-desc {
  width: 170px;
}

.subtitle-dif {
  width: 230px;
}