.title {
  text-align: center;
  padding: 0 0 20px 0;
}

.school-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 900px;
  column-gap: 150px;
}

.column-1 {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.column-2 {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.school-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px 0;
}

.paragraph {
  padding: 20px 0 10px 0;
}

.subtitle {
  font-size: 16px;
}