.card-wrapper {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  column-gap: 10px;
}

.bottom {
  border: 2px black;
}

.text-name {
  width: 230px;
  padding: 0;
  margin: 0;
}

.articles-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.schools-info {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.categories-info {
  width: 100%;
}

.text-name-cat {
  width: 900px;
}

.text-desc {
  width: 270px;
  padding: 0;
  margin: 0;
  text-align: start;
}

.text-type {
  width: 215px;
  padding: 0;
  margin: 0;
}

.text-name-sc {
  width: 190px;
}

.text-email {
  width: 167px;
}

.text-address {
  width: 170px;
}