.card-wrapper {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  column-gap: 10px;
}

.bottom {
  border: 2px black;
}

.text-name-districts {
  padding: 0 0 0 60px;
}
