.test-wrapper {
  padding: 100px 200px 0 200px;
}
.btn {
  padding: 5px;
  margin: 10px 10px 10px 0;
}

.button {
  display: none;
}

.action-button {
  padding: 5px;
  margin: 10px 10px 10px 0;
  display: block;
}

.text {
  padding: 10px 0 0 0;
}

input {
  outline: 0;
  padding: 3px;
  border-width: 0 0 1px;
  border-color: black;
  width: 100%;
  margin: 10px 0 0 0;
}

.select-difficulty {
  margin: 15px 0 5px 0;
}